<div class="bg">
    <section class="container">
        <div class="row col-12 col-md-7 col-lg-7 viewPort justify-content-center align-items-center m-auto">
            <form [formGroup]="newPasswordForm" (ngSubmit)="getDataForm()" class="formStyle form-control border-0 p-5">
                <h2 class="text-center">Entry new password</h2>
                <div>
                    <label for="newPassword" class="form-label">New password</label>
                    <input type="password" class="form-control form-control-lg" id="newPassword"
                        formControlName="newPassword" [ngClass]="checkField('newPassword')">
                    <p class="error" *ngIf="checkControl('newPassword', 'required')">The field is required.</p>
                    <p class="error" *ngIf="checkControl('newPassword', 'pattern')">The password must be between 8 and
                        16 characters long, with at least one digit, at least one lowercase letter, and at
                        least one uppercase letter.
                        It can NOT have other symbols.</p>
                </div>
                <div>
                    <label for="repeatNewPassword" class="form-label">Repeat new password</label>
                    <input type="password" class="form-control form-control-lg" id="repeatNewPassword"
                        formControlName="repeatNewPassword" [ngClass]="checkField('repeatNewPassword')">
                    <p class="error" *ngIf="checkControl('repeatNewPassword', 'required')">The field is required.</p>
                    <p class="error mt-1"
                        *ngIf="newPasswordForm.hasError('passwordvalidator') && !checkControl('repeatNewPassword', 'required')">
                        The
                        passwords don't match
                    </p>
                </div>
                <div class="mt-4 d-flex justify-content-between">
                    <button type="submit" class="btn rounded-pill px-4 py-3"
                        [disabled]="!newPasswordForm.valid">Submit</button>
                </div>
            </form>
        </div>
    </section>
</div>