<div class="bg">
    <section class="container">
        <div class="row col-12 col-md-7 col-lg-7 viewPort justify-content-center align-items-center m-auto">
            <form [formGroup]="resetForm" (ngSubmit)="getDataForm()" class="formStyle form-control border-0 p-5">
                <h2 class="text-center">Reset Password</h2>
                <div>
                    <label for="oldPassword" class="form-label">Previous password</label>
                    <input type="password" class="form-control form-control-lg" id="oldPassword"
                        formControlName="oldPassword">
                    <p class="error" *ngIf="checkControl('oldPassword', 'required')">The field is required.</p>
                </div>
                <div class="mt-4">
                    <label for="newPassword1" class="form-label">New password</label>
                    <input type="password" class="form-control form-control-lg" id="newPassword1"
                        formControlName="newPassword1" [ngClass]="checkField('newPassword1')">
                    <p class="error" *ngIf="checkControl('newPassword1' , 'required')">The field is required.</p>
                    <p class="error" *ngIf="checkControl('newPassword1', 'pattern')">The password must be between 8 and
                        16 characters long, with at least one digit, at least one lowercase letter, and at
                        least one uppercase letter.
                        It can NOT have other symbols.</p>
                </div>
                <div class="mt-4">
                    <label for="newPassword2" class="form-label">Repeat new password</label>
                    <input type="password" class="form-control form-control-lg" id="newPassword2"
                        formControlName="newPassword2" [ngClass]="checkField('newPassword2')">
                    <p class="error mb-0" *ngIf="checkControl('newPassword2', 'required')">The field is required.</p>
                    <p class="error mt-1"
                        *ngIf="resetForm.hasError('passwordvalidator') && !checkControl('newPassword2', 'required')">The
                        passwords don't match
                    </p>
                </div>
                <div class="mt-4 d-flex justify-content-between">
                    <button type="submit" class="btn rounded-pill px-4 py-3"
                        [disabled]="!resetForm.valid">Reset</button>
                    <button type="button" class="btn button-back rounded-pill px-4 py-3"
                        [routerLink]="['/dashboard', 'edit-profile']">Back</button>
                </div>
            </form>
        </div>
    </section>
</div>